* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.navbar {
    height: 64px;
    width: 100%;
    background: rgb(13, 38, 59);
}

.navbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navbar-center a {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.navbar-center {
    display: flex;
    gap: 64px;
}

.navbar-btn {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    width: 120px;
    height: 44px;
    background: none;
    transition: 0.5s;
}

.navbar-btn:hover {
    scale: 1.09;
    box-shadow: inset 4px 4px 8px #ccc, inset -4px -4px 8px #ccc;
    border-radius: 7px;
}

.exe-row {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.exe-image {
    background-image: url(../img/park-big.svg);
    width: 640px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.exe-colum {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.exe-image1 {
    background-image: url(../img/park1.svg);
    width: 280px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.exe-image2 {
    background-image: url(../img/park2.svg);
    width: 280px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.exe-image3 {
    background-image: url(../img/park3.svg);
    width: 280px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.exe-image4 {
    background-image: url(../img/park4.svg);
    width: 280px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-content {
    margin-top: 24px;
}

.about-text-row {
    display: flex;
    flex-direction: row;
    gap: 275px;
    align-items: center;
}

.circle-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 60px;
    background: rgb(246, 248, 249);
}

.about-text-right {
    display: flex;
    gap: 36px;
}

.about-left-title {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -2%;
}

.about-left-text {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.about-info-left {
    display: flex;
    align-items: flex-end;
}

.image-row {
    display: flex;
    align-items: center;
    gap: 24px;
}

.image-col {
    display: flex;
    align-items: center;
    gap: 8px;
}

.about-info {
    display: flex;
    margin-top: 3px;
}

.about-info-right {
    margin-left: 113px;
}

.info-right-row {
    display: flex;
    align-items: center;
}

.info-right-bonus {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-decoration-line: line-through;
}

.info-right-price {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -2%;
    padding-left: 8px;
}

.loc {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: right;
}

.descrpt-content {
    margin-top: 48px;
}

.descrpt-title {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
}

.outline {
    width: 880px;
    height: 224px;
}

.outline-text {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    /* width: 878px;
height: 160px; */
}

.show {
    padding-top: 28px;
    color: rgb(0, 97, 223);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    cursor: pointer;
}

.doc-row {
    display: flex;
    gap: 48px;
    margin-top: 16px;
}

.doc-col {
    display: flex;
}

.doc-col-text {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    padding-left: 8px;
}

.download {
    color: rgb(0, 97, 223);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1%;
    text-decoration-line: underline;
    text-transform: uppercase;
    padding-left: 24px;
}

.border {
    width: 880px;
    height: 1px;
    background: rgb(230, 233, 236);
    margin-top: 48px;
    margin-bottom: 48px;
}

.location-title {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
}

.loc-col-title {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
}

.loc-col-text {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    padding-left: 8px;
}

.loc-col {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.loc-row {
    display: flex;
    flex-direction: row;
}

.location-row {
    display: flex;
    gap: 181px;
    margin-top: 24px;
}

.map {
    margin-top: 24px;
}

.border2 {
    width: 280px;
    height: 520px;
    box-sizing: border-box;
    border: 1px solid rgb(230, 233, 236);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    padding-left: 24px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.user-circle {
    width: 56px;
    height: 56px;
    box-shadow: 0px 0px 10px 0px rgba(13, 38, 59, 0.2);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.number {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 4px;
}

.user-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 24px;
}

.group {
    position: relative;
    margin-top: 26px;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.message {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.mes-info {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.mess {
    margin-top: 24px;
}

.line {
    width: 232px;
    border: 1px solid rgb(13, 38, 59);
    margin-top: 4px;
    margin-bottom: 24px;
}

.check {
    display: flex;
    align-items: center;
}

.check p {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 8px;
    width: 206px;
}

.mess-btn {
    width: 232px;
    height: 44px;
    border-radius: 2px;
    background: rgb(0, 97, 223);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    margin-top: 24px;
}

.circle-flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-row2 {
    display: flex;
    margin-top: 24px;
    gap: 75px;
}

.group-row {
    display: flex;
    gap: 20px;
}


.input2 {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 430px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}


.input2:focus {
    outline: none;
}


.input2:focus~label,
.input2:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.input2:focus~.bar2:before,
.input2:focus~.bar2:after {
    width: 50%;
}

.input2:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}


.bar2 {
    position: relative;
    display: block;
    width: 200px;
}

.your-info-content {
    margin-top: 48px;
}

.input3 {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 280px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}


.input3:focus {
    outline: none;
}


.input3:focus~label,
.input3:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.input3:focus~.bar3:before,
.input3:focus~.bar3:after {
    width: 50%;
}

.input3:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}


.bar3 {
    position: relative;
    display: block;
    width: 200px;
}

.input4 {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 880px;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}


.input4:focus {
    outline: none;
}


.input4:focus~label,
.input4:valid~label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

.input4:focus~.bar4:before,
.input4:focus~.bar4:after {
    width: 50%;
}

.input4:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}


.bar4 {
    position: relative;
    display: block;
    width: 200px;
}

.group-btn {
    width: 250px;
    height: 44px;
    border-radius: 2px;
    background: rgb(0, 97, 223);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    margin-top: 24px;
}

.rating-title {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
}

.rating-main {
    display: flex;
    margin-top: 25px;
    gap: 116px;
}

.rating-row-text {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}