* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.navbar {
    height: 64px;
    width: 100%;
    background: rgb(13, 38, 59);
}

.navbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.navbar-center a {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.navbar-center {
    display: flex;
    gap: 64px;
}

.navbar-btn {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    width: 120px;
    height: 44px;
    background: none;
    transition: 0.5s;
}

.navbar-btn:hover {
    scale: 1.09;
    box-shadow:inset 4px 4px 8px #ccc,inset -4px -4px 8px #ccc;
    border-radius: 7px;
}

.search-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.search-input input {
    width: 527px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(230, 233, 236);
    border-radius: 2px;
}

.option {
    width: 131px;
    height: 44px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgb(230, 233, 236);
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.option-title {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}

.search-btn {
    width: 180px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 97, 223);
    border-radius: 2px;
    background: rgb(0, 97, 223);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.example-title {
    text-align: center;
    margin-top: 96px;
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -2%;
}

.example-text {
    text-align: center;
    padding-top: 8px;
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.result {
    display: flex;
    justify-content: space-between;
}

.result-right {
    display: flex;
    gap: 20px;
}

.result p {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    color: rgb(13, 38, 59);
}

.result span {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.example-row {
    margin-top: 32px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-col {
    width: 380px;
    height: 429px;
    border: 1px solid rgb(230, 233, 236);
    border-radius: 3px;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    margin-bottom: 20px;
}

.example-col:hover {
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.06), 0px 7px 46px 0px rgba(0, 0, 0, 0.06), 0px 20px 38px 0px rgba(0, 0, 0, 0.06);
    scale: 1.03;
}

.example-image {
    background-image: url(../img/house.svg);
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0px 0px;
}

.example-image2 {
    background-image: url(../img/modern.svg);
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0px 0px;
}

.example-image3 {
    background-image: url(../img/home.svg);
    width: 100%;
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0px 0px;
}

.ex-space {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.ex-left {
    width: 73px;
    height: 23px;
    border-radius: 3px;
    background: rgb(0, 97, 223);
    color: rgb(255, 255, 255);
    font-family: 'Cerebri Sans';
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex-right {
    width: 71px;
    height: 23px;
    border-radius: 3px;
    background: rgb(13, 38, 59);
    color: rgb(255, 255, 255);
    font-family: Cerebri Sans;
    font-size: 10px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-image {
    position: relative;
    top: 135px;
    left: 310px;
    width: 42px;
    height: 42px;
    box-shadow: 0px 0px 10px 0px rgba(13, 38, 59, 0.2);
    background: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-title {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    padding-left: 20px;
    padding-top: 24px;
}

.col-text {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    padding-left: 20px;
    padding-top: 4px;
}

.image-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 16px;
}

.image-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-col p {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}

.ex-hr {
    border: 1px solid rgb(230, 233, 236);
    margin-top: 16px;
    margin-bottom: 8px;
}

.price-col {
    padding-left: 20px;
}

.true {
    color: rgb(13, 38, 59);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}

.bonus {
    color: rgb(105, 105, 105);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-decoration-line: line-through;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-col-right {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 20px;
}

.price-col-right img {
    cursor: pointer;
}

.more {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    width: 250px;
    height: 44px;
    border-radius: 2px;
    border: none;
    background: rgb(0, 97, 223);
    margin-top: 28px;
}

.more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
}

.footer {
    width: 100%;
    height: 417px;
    background: rgb(13, 38, 59);
    margin-top: 48px;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 295px;
    height: 244px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 48px;
}

.info {
    padding-bottom: 12px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
}

.footer-left,
.footer-center,
.footer-right,
.footer-end a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}

.footer-img {
    display: flex;
    align-items: center;
    gap: 21px;
}

.footer-center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85px;
    height: 196px;
    margin-top: 48px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 48px;
    width: 142px;
    height: 276px;
}

.footer-end {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 48px;
    width: 142px;
    height: 196px;
}

.footer-border {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin-top: 24px;
}

.footer-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
}

.footer-left-logo {
    cursor: pointer;
}

.footer-right-info {
    display: flex;
    align-items: center;
    gap: 73px;
}

.footer-right-info a {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
}

.up-btn {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    border: none;
    background: rgb(0, 97, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}